<div class="flex w-full min-h-24 justify-center">
    <div class="w-full xl:w-2/3 flex flex-col min-h-20 border-solid border-width-2 rounded border-black bg-gray-200 p-5">
        <div class="flex flex-col  lg:p-10 xl:p-10">
            <h3 class="mb-3 text-3xl xl:text-5xl lg:text-5xl text-bold w-full text-center uppercase">{{product?.name}}</h3>
            <div class="flex w-full bg-white h-64 sm:h-64 rounded relative rounded overflow-hidden mb-10">
                <video autoplay loop muted playsinline class="object-cover h-full w-full" src="./../../../assets/videos/{{product?.video}}" type="video/mp4"></video>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-8">
                <div class="flex flex-col w-full min-h-64 relative bg-gray-700 p-5">
                    <div class="flex w-full h-full items-center justify-center sm:justify-center md:justify-center mt-10">
                        <!-- <img  src="../../../assets/products/{{product.}}" alt=""> -->
                        <!-- <ngb-carousel *ngIf="product?.images">
                            <ng-template ngbSlide>
                              <div class="picsum-img-wrapper flex justify-center">
                                <img class="h-64" src="./../../../assets/products/{{product?.images[0].image}}" alt="Random first slide">
                              </div>
                              <div class="carousel-caption text-center mt-5">
                                <h3 class="font-bold text-sl">First slide label</h3>
                                <p class="text-gray-700">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                              </div>
                            </ng-template>
                        </ngb-carousel>  -->
                        <carousel [pauseOnFocus]="true">
                            <slide *ngFor="let item of product?.images">
                              <img class="h-64 block" src="./../../../assets/products/{{item?.image}}" alt="Random first slide">
                              <div class="carousel-caption">
                                <h4>{{item?.name}}</h4>
                              </div>
                            </slide>
                        </carousel>
                    </div>
                    <div class="flex flex-col mt-10">
                        <h1 class="font-bold text-white text-4xl text-center">{{product?.price | currency : 'RUB '}}</h1>
                    </div>
                </div>
                <form submit="" class="flex flex-col lg:mt-0 w-full bg-gray-300 p-5 lg:p-10 xl:p-10 min-h-20 rounded">
                    <div class="flex justify-between items-center mb-2">
                        <label for="name" class="mb-2">NAME</label>
                        <strong class="py-1 px-5 rounded bg-blue-500 hidden lg:block xl:block text-sm text-white">Antoine</strong>
                    </div>
                    <div class="flex relative">
                        <input type="text" id="name" class="mb-5 p-3 rounded w-full" placeholder="Name">
                        <span id="span_name" class="absolute bottom-0 rounded p-1 bg-gray-700 text-white w-full">Name</span>
                    </div>
                    <div class="flex justify-between items-center mb-2">
                        <label for="name" class="mb-2">PHONE</label>
                        <strong class="py-1 px-5 rounded bg-blue-500 hidden lg:block xl:block text-sm text-white">+7 XXX XX XX XX</strong>
                    </div>
                    <div class="flex relative">
                        <input type="text" id="phone" class="mb-5 p-3 rounded w-full" placeholder="Phone">
                        <span id="span_phone" class="absolute bottom-0 rounded p-1 bg-gray-700 text-white w-full">Phone</span>
                    </div>
                    <button type="submit" class="p-3 bg-blue-500 rounded text-white">ORDINA*</button>
                    <p class="mt-5 text-sm lg:text-base xl:text-base text-gray-700">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla, tempore voluptatibus voluptatum placeat.
                    </p>
                    <p class="mt-5 text-sm lg:text-base xl:text-base text-gray-700">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nulla, tempore voluptatibus voluptatum placeat.
                    </p>
                </form>
            </div>
            <div class="flex flex-col text-center mt-16">
                <strong class="text-3xl">THIS OFFERT IS LIMITED</strong>
                <countdown #cd [config]="{
                    leftTime: product?.timer,
                    format: 'HH:mm:ss'
                  }" class="text-5xl xl:text-6xl lg:text-6xl text-red-600" (event)="handleEvent($event)"></countdown>
                <!-- <div class="flex self-center mt-5 w-2/3 justify-between">
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                    <span class="p-4 text-gray-700 text-white font-bold text-5xl rounded">:</span>
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                    <span class="p-4 text-gray-700 text-white font-bold text-5xl rounded">:</span>
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                    <span class="p-4 bg-gray-700 text-white font-bold text-6xl rounded">0</span>
                </div> -->
            </div>
        </div>
    </div>
</div>