#span_name, #span_phone{
    opacity: 0;
    transform: translateY(20px);
}

#name:focus ~ #span_name {
    opacity: 1;
    transition: all .5s 0s ease-in-out;
    transform: translateY(10px) !important;
}

#phone:focus ~ #span_phone {
    opacity: 1;
    transition: all .5s 0s ease-in-out;
    transform: translateY(10px) !important;
}