<div class="flex w-full bg-gray-700 h-16 items-center p-6 justify-between lg:justify-start xl:justify-start text-white shadow">
    <a [routerLink]="['/']" class="mr-24"><strong>Logo</strong></a>
    <div class="flex">
        <a [routerLink]="['/']">Home</a>
    </div>
</div>