<a [routerLink]="['/details', item.id]" routerLinkActive="router-link-active"  class="flex flex-col min-h-64 w-full text-gray-800 p-5 border-solid border-2 border-gray-600">
    <div class="flex h-48 w-full justify-center">
        <img class="h-full" src="../../../assets/products/{{item.picture}}" alt="product img">
    </div>
    <strong class="text-black">{{item.name}}</strong>
    <span class="text-base text-green-500">{{item.price | currency: 'RUB '}}</span>
</a>