<h3 class="text-3xl text-bold mb-5">Product's list</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8">
    <app-product-item *ngFor="let item of products" [item]="item"></app-product-item>
</div>